@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700|Roboto:300,400,700');

$title-font: 'Raleway', sans-serif;
$text-font: 'Roboto', sans-serif;

h1 {
	font-family: $title-font;
	nav & {
		color: white;
	}
}

h2 {
	font-family: $title-font;
	nav & {
		color: white;
		font-size: 1.5em;
	}
}

p {
	font-family: $text-font;
	.calculator & {
		margin: 0px;
	}
	&.bg-danger {
		color: white;
		margin: 0px;
		padding: 10px;
	}
}

button {
	font-family: $text-font;
	font-weight: 300;
	text-transform: uppercase;
	padding: 5px 10px;
	&.submit {
		color: white;
		font-size: 1.2em;
	}
}

span {
	nav & {
		display: block;
		color: white;
		font-family: $title-font;
		font-weight: 300;
		text-align: center;

		@media(min-width: $screen-md) {
			text-align: right;
		}
	}
}

a {
	.wrapper & {
		font-family: $title-font;
	}
}